!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    
    %meta{:content => "width=device-width", :name => "viewport"}
    
    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>

    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    = stylesheet_link_tag "site"
    -#= stylesheet_link_tag "bbl-basic"  # not needed since it's imported
    = stylesheet_link_tag current_page.data.stylesheet if current_page.data.stylesheet

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400' rel='stylesheet' type='text/css'>

  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>

    =partial "header"

    %div{:role => "main", :class => "main"}= yield

    =partial "footer"
    


    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    = javascript_include_tag "site"
    
    .google-analytics-script
      - google_analytics_id = current_page.data.google_analytics_id
      - google_analytics_id ||= 'UA-32373633-1'
      :javascript
        var _gaq=[['_setAccount','#{google_analytics_id}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    - if (uservoice_category = current_page.data.uservoice_category)
      .uservoice-script
        / UserVoice JavaScript SDK (only needed once on a page)
        /
          <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='http://widget.uservoice.com/akwF2Qs6Se6qr848MmMA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
        / A tab to launch the Classic Widget
        /
          <script>
          UserVoice = window.UserVoice || [];
          UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#cc6d00',
          link_color: '#007dbf',
          default_mode: 'support',
          forum_id: 191718,
          topic_id: 41983,
          tab_label: 'Feedback & Support',
          tab_color: '#cc6d00',
          tab_position: 'middle-right',
          tab_inverted: false
          }]);
          </script>
        :javascript
          // Include the UserVoice JavaScript SDK (only needed once on a page)
          UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='http://widget.uservoice.com/akwF2Qs6Se6qr848MmMA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
          
          //
          // UserVoice Javascript SDK developer documentation:
          // https://www.uservoice.com/o/javascript-sdk
          //
          
          // Set colors
          UserVoice.push(['set', {
            accent_color: '#448dd6',
            trigger_color: 'white',
            trigger_background_color: 'rgba(46, 49, 51, 0.6)',
            smartvote_category_ids: '#{uservoice_category}'
          }]);
          
          // Identify the user and pass traits
          // To enable, replace sample data with actual user traits and uncomment the line
          UserVoice.push(['identify', {
            //email:      'john.doe@example.com', // User's email address
            //name:       'John Doe', // User's real name
            //created_at: 1364406966, // Unix timestamp for the date the user signed up
            //id:         123, // Optional: Unique id of the user (if set, this should not change)
            //type:       'Owner', // Optional: segment your users by type
            //account: {
            //  id:           123, // Optional: associate multiple users with a single account
            //  name:         'Acme, Co.', // Account name
            //  created_at:   1364406966, // Unix timestamp for the date the account was created
            //  monthly_rate: 9.99, // Decimal; monthly rate of the account
            //  ltv:          1495.00, // Decimal; lifetime value of the account
            //  plan:         'Enhanced' // Plan name for the account
            //}
          }]);
          
          // Add default trigger to the bottom-right corner of the window:
          UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);
          
          // Or, use your own custom trigger:
          //UserVoice.push(['addTrigger', '#id', { mode: 'smartvote' }]);
          
          // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
          UserVoice.push(['autoprompt', {}]);
