---
title: WebBuddy Intro
subtitle: Minimalistic web client for OS X

stylesheet: webbuddy.css
google_analytics_id: UA-32373633-2
uservoice_category: 58642

---

.page-title
  :markdown
    # Welcome To WebBuddy!
    ## Awesome subtitle to go here.
    #{ image_tag("stub-img.png", width:500, height:150) }


.feature-major
  :markdown
    ### Option + Option for the web.

    Press the option/alt key twice to reveal a browser. 
    It's the fastest way to get a Google search result page!
    #{ image_tag("stub-img.png", width: "300px", height: "150px") }


.feature-major
  :markdown
    ### Work with links in context.

    Click on a link in an app such as Mail or Twitter to open it without losing context. 

    You can also open a link in a browser of your choice using modifier keys.

    #{ image_tag("stub-img.png", width:300, height:150) }


.feature-major
  :markdown
    ### Find anything you've seen before.

    Press Option/Alt twice, then start typing to filter through your history.

    Pages are organised into stacks based on originating search or app.

    #{ image_tag("stub-img.png", width:300, height:150) }


.feature-major
  :markdown
    ### [coming soon] Works with other browsers.

    Install extensions for safari, chrome or Firefox.

    You can import browser sessions into WebBuddy and interact with your entire browsing history and web-based context in a rich, graphical fashion.

    #{ image_tag("stub-img.png", width:300, height:150) }


.feature-major
  :markdown
    ### [coming soon] Organise using tags.

    Tag stacks to use web research in conjunction with documents.

    #{ image_tag("stub-img.png", width:300, height:150) }

