- require 'helpers/bbl_helpers'


- current_page.data.sections.each do |elem|
  %section( class="#{elem[:role]}" )

    - heading_level = :h2
    - heading_level = :h1 if elem[:role] == 'title'

    -# wrap title in an a tag if there's an href.
    - if elem[:href]
      %a{ href: elem[:href] } #{el_if_present elem, :title, heading_level}
    - else
      = el_if_present elem, :title, heading_level


    = el_if_present elem, :img

    = el_if_present elem, :subtitle, :p

    = el_if_present elem, :subimg


    - if elem[:embed]
      = elem[:embed]


    -# TODO blurb


    -# TODO make section rendering recursive.
    - if elem[:sections]
      - elem[:sections].each do |section|
        = render_section section
