-## struture of a section


-## a title or equivalent heading.

-# determine heading level
- heading_level = elem[:role] == 'title' ? :h1 : :h2

-# wrap title in an a tag if there's an href.
-# - if elem[:href]
-#   %a{ href: elem[:href] } #{el_if_present elem, :title, heading_level}
-# - else
-#   = el_if_present elem, :title, heading_level
= el_if_present elem, :title, heading_level

-## an image.
= el_if_present elem, :img

-## a subtitle. (subtext)
= el_if_present elem, :subtitle, :p

-## a secondary image.
= el_if_present elem, :subimg

-## embedded content.
- if elem[:embed]
  = elem[:embed]


-# TODO blurb


-# TODO make section rendering recursive.
- if elem[:sections]
  - elem[:sections].each do |subsection|
    %section( class="#{subsection[:role]} subsection" )
      = partial 'section', locals: { elem: subsection }
